# Created by .ignore support plugin (hsz.mobi)

gradlew
gradle
.gradle
.idea
gradlew.bat
/com.saga.opencms.util/build/
/com.saga.opencms.backgrid/backgrid.iml
/com.saga.opencms.excel/com.saga.opencms.excel.iml
/com.saga.opencms.fileupload/com.saga.opencms.fileupload.iml
/com.saga.opencms.backgrid/com.saga.opencms.backgrid.iml
/com.saga.opencms.scripts/com.saga.opencms.scripts.iml
/com.saga.opencms.sigmagrid/com.saga.opencms.sigmagrid.iml
/com.saga.opencms.util/com.saga.opencms.util.iml
/com.saga.sagasuite.webform/com.saga.sagasuite.webform.iml
/com.saga.opencms.vue/com.saga.opencms.vue.iml
/saga.iml

com.saga.opencms.backgrid/backgrid.iml
com.saga.opencms.excel/com.saga.opencms.excel.iml
com.saga.opencms.util/com.saga.opencms.util.iml
com.saga.opencms.scripts/com.saga.opencms.scripts.iml
com.saga.opencms.sigmagrid/com.saga.opencms.sigmagrid.iml
com.saga.opencms.vue/com.saga.opencms.vue.iml
com.saga.sagasuite.webform/com.saga.sagasuite.webform.iml
com.saga.opencms.fileupload/com.saga.opencms.fileupload.iml
/com.saga.opencms.shopping/com.saga.opencms.shopping.iml
/com.saga.opencms.shopping/shopping.iml

*.iml