<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    {% if base != null %}
    <base href="{{base}}">
    {% endif %}
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <div class="content">
                <table class="main">
                    <tr>
                        <td class="wrapper">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        {% if maincontent != null %}
                                        <h3>{{ maincontent.title }}</h3>
                                        <p>{{ maincontent.content }}</p>
                                        {% endif %}

                                        {% if datas != null %}
                                        <dl>
                                            {% for data in datas %}
                                            <dt>{{data.t}}</dt>
                                            <dd><b>{{data.d}}</b></dd>
                                            {% endfor %}
                                        </dl>
                                        {% endif %}

                                        {% if link != null %}
                                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                            <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                        <tr>
                                                            <td><a href="{{link.href}}" target="_blank" title="{{link.title}}">{{link.text}}</a></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>